{% extends "site_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block body_base %}


  <div class="row">

    <div class="ten columns centered">
      {% block banner %}{% endblock %}	  
    </div>
  </div>
  <div class="row">
    <div class="ten columns centered">
   	<div class="three columns">
	  {% block column-1 %}
	    <h2>Musique</h2>
	    <p class="lead panelRed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus.</p>
	    <p><a class="nice medium radius secondary button" href="/musiques">Voir détails &raquo;</a></p>
	  {% endblock %}
	</div>
	<div class="three columns">
	  {% block column-2 %}
	    <h2>Vidéo</h2>
	    <p class="panelBlue lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus.</p>
	    <p><a class="nice medium radius secondary button" href="/news">Voir détails &raquo;</a></p>
	  {% endblock %}
	</div>
	<div class="three columns">
	  {% block column-3 %}
	    <h2>Soirées</h2>
	    <p class="panelRed lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus.</p>
	    <p><a class="nice medium radius secondary button" href="/prestations">Voir détails &raquo;</a></p>
	  {% endblock %}
	</div>
	<div class="three columns">
	  {% block column-4 %}
	    <h2>Matériel</h2>
	    <p class="panel lead panelBlue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed viverra dui. Aenean blandit faucibus.</p>
	    <p><a class="nice medium radius secondary button" href="/contact">Voir détails &raquo;</a></p>
	</div>			
      </div>
  </div>
  <div class="row">
    <div class="ten columns centered">
      {% include "_messages.html" %}
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <div class="zurb-footer-bottom">
	<div class="three columns">
	  <a href="http://www.zurb.com" class="zurb-logo regular"></a>
	  <ul class="zurb-links panelBlue">
	    <li><a href="/">Art-Line</a></li>
	    <li><a href="/news">News</a></li>
	    <li><a href="/contact">Contact</a></li>
	    <li><a href="/prestations">Soirées</a></li>
	  </ul>

	</div>

	<div class="three columns">
	  <ul class="home-social panelYlw">
	    <br />
	    <br />
	    <br />
	    <br />
	  </ul>
	</div>

	<div class="three columns">
	  <ul class="home-social panelRed">
	    <li><a href="https://www.google.ch/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CC0QFjAA&url=https%3A%2F%2Fplus.google.com%2F109780225190933816073%2Fabout&ei=wAt5UpCUH-WP7AafuoG4Dw&usg=AFQjCNG9xYGhuvCSj22mhj_N5WvKYF8NTA&bvm=bv.55980276,d.ZGU" class="twitter" target="_blank">google+</a></li>
	    <li><a href="/news" class="facebook">lien github</a></li>
	    <li><a href="/contact" class="mail">contact</a></li>
	    <li><a href="/" class="mail">autre lien</a></li>
	  </ul>
	</div>


	<div class="three columns">
	  <ul class="home-social panelRred">
	    <br />
	    <br />
	    <br />
	    <br />
	  </ul>
	</div>
	<br />
	<hr />
	<p class="copyright"> Un site réalisé par &copy; 2013 <a href="http://www.xpertise.ch" target="_blank"> xpertise.ch </a>.</p>               
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% endblock %}
