{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}Bienvenue{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
<header id="homepage" class="homeslide-2">

        <h1>Art-Line</h1>
        <h4>Vos soirées inoubliables<br class="hide-for-small"> avec notre service irréprochable!</h4>
        <a href="/contact" class="large button alert radius" id="mainDownload">Contactez-nous!</a>
  </header>

  <div class="row panel">
    <div class="large-10 pull-2 columns">
      <p class="lead">
        {% blocktrans %}
      <h2 class="banner"> World Music Production
	  <small>the best in town</small></h2>
	  <h3 class="subheader">
	    <b>Art-Line</b> est un site de présentation de notre société d'animation.
	    Vous y trouverez des <a href="#">infos sur nos soirées</a>, des renseignements
	  sur nous, etc.</h3>
        {% endblocktrans %}
      </p>
      
      <p class="lead">
        {% blocktrans %}
	  <h4 class="subheader">
          <b>Notre projet:</b>This project lays the foundation for all other Pinax starter projects. It
	  provides the project directory layout and some key infrastructure apps on
	  which the other starter projects are based.</h4>
      {% endblocktrans %}
      </p>
      
      <p><a href="/news" class="btn primary large">{% trans "Learn more &raquo;" %}</a></p>
    </div>
  </div>


{% endblock %}
