{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}Bienvenue{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
<header id="homepage" class="homeslide-2">

    <div class="row">
      <div class="six columns">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" ><img src="images/offcanvas/menu-wht.png"><h4>Foundation</h4></a>
        <h1>Art-Line</h1>
        <h4>The most advanced responsive<br class="hide-for-small"> front-end framework in the world.</h4>

        <a href="download.php" class="large button" id="mainDownload">Download Foundation 4</a>
        <a href="download.php" class="large button show-for-small" id="deviceDownload">View Download Options</a>
      </div>
    </div>

  </header>

  <div class="row panel">
    <div class="large-10 pull-2 columns">
      <p class="lead">
        {% blocktrans %}
	  <h3 class="subheader">
	    <b>Art-Line</b> est un site de présentation de notre société d'animation.
	    Vous y trouverez des <a href="#">infos sur nos soirées</a>, des renseignements
	  sur nous, etc.</h3>
        {% endblocktrans %}
      </p>
      
      <h2> World Music Production</h2>
      <p class="lead">
        {% blocktrans %}
	  <h4 class="subheader">
          <b>Notre projet:</b>This project lays the foundation for all other Pinax starter projects. It
	  provides the project directory layout and some key infrastructure apps on
	  which the other starter projects are based.</h4>
      {% endblocktrans %}
      </p>
      
      <p><a href="/news" class="btn primary large">{% trans "Learn more &raquo;" %}</a></p>
    </div>
  </div>


{% endblock %}
