{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ flatpage.title }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}





 <section role="main">

  <header>
    <div class="row">
      <div class="twelve columns">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" ><img src="images/offcanvas/menu-wht.png"><h4>Foundation</h4></a>
        <h1></h1>
<h1 class="hide-for-small">{{ flatpage.title }}</h1>



  <div class="row">
    <div class="ten columns centered">							
      <div class="panel">
	  	  {{ flatpage.content }}
	  <p><a href="/prestations" class="btn primary large">Learn more &raquo;</a></p>   

      </div>
    </div>
  </div>

      </div>


{% endblock %}

{% block body_base %}

  <div class="row">
    <div class="ten columns centered">
      <hr />
      <div class="zurb-footer-bottom">
	<div class="four columns">
	  <a href="http://www.zurb.com" class="zurb-logo regular"></a>
	  <ul class="zurb-links">
	    <li><a href="/about">Art-Line</a></li>
	    <li><a href="/news">News</a></li>
	    <li><a href="/contact">Contact</a></li>
	    <li><a href="/prestations">Soirées</a></li>
	  </ul>

	</div>
	<div class="eight columns">
	  <ul class="home-social">
	    <li><a href="http://www.twitter.com/ZURB" class="twitter">lien twit</a></li>
	    <li><a href="http://www.facebook.com/ZURB" class="facebook">lien facebk</a></li>
	    <li><a href="http://zurb.com/contact" class="mail">lien zurb</a></li>
	    <li><a href="http://zurb.com/contact" class="mail">autre lien</a></li>
	  </ul>
	</div>
	<br />
	<hr />
      </div>
	<p class="copyright panel"> Un site réalisé par &copy; 2013 <a href="http://www.xpertise.ch" target="_blank"> xpertise.ch </a>.</p>               
    </div>
  </div>


{% endblock %}

